# Quality Report
Use this file to outline the test strategy for this package.

## Version tested: [*package version*]

## QA Owner: [*Add Name*]
## UX Owner: [*Add Name*]

## Test strategy
*Use this section to describe how this feature was tested.*

## Package Status
Use this section to describe:
* UX status/evaluation results
* package stability
* known bugs, issues
* performance metrics,
* etc

In other words, a general feeling on the health of this package.
